@font-face {
  font-family: 'Roboto';
  src: url('roboto.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('roboto_slab.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
}

h2,
h3,
.next-page {
  font-family: 'Roboto Slab';
}

header h2 ,
header h3 {
  margin-bottom: 0;
}

h3,
p {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: #ebaa17;
  font-size: 24px;
  font-weight: bold;
}

p {
  line-height: 1.2;
}

button {
  display: block;
  background: none;
  border: 0;
  cursor: pointer;
}

.next-page {
  color: #868686;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.next-page svg {
  width: 40px;
  height: 10px;
  margin-right: 10px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100px;
  margin-top: 20px;
}

.social-button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.social-button.instagram svg {
  width: 25px;
  height: 25px;
}

.social-button.facebook svg {
  width: 14px;
  height: 27px;
}

.social-button.twitter svg {
  width: 21px;
  height: 18px;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 10px;
  padding-top: 30px;
}

.inline {
  display: flex;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1260px;
  margin: 0 auto;

}

.text-container {
  position: relative;
  z-index: 2;
  top: 30px;
  width: 33%;
  max-width: 390px;
}

.map-container {
  position: absolute;
  top: 120px;
  right: 0;
  width: 80%;
  height: 100%;
  max-height: 645px;
  background: url('./images/000_bevezetes_2016px_B.jpg') top right no-repeat;
  background-size: contain;
  box-shadow: 0 0 20px 10px black inset;
}

#page-1 .map-container {
  top: 95px;
  background: url('./images/000_bevezetes_2016px_B.jpg') top right no-repeat;
  background-size: contain;
}

#page-2 .map-container {
  background: url('./images/001_kozepkor_2016px_B.jpg') top right no-repeat;
  background-size: contain;
}

#page-3 .map-container {
  background: url('./images/002_torok_hodoltsag_2016px_B.jpg') top right no-repeat;
  background-size: contain;
}

#page-4 .map-container {
  background: url('./images/003_Buda_vissza_utan_2016px_B.jpg') top right no-repeat;
  background-size: contain;
}

#page-5 .map-container {
  background: url('./images/004_reformkor_2016px_B.jpg') top right no-repeat;
  background-size: contain;
}

.navigation {
  position: fixed;
  top: 120px;
  z-index: 2;
  width: 100%;
  max-width: 1260px;
  left: 50%;
  transform: translateX(-53.5%);
}

.navigation ul {
  float: right;
}

.navigation-link {
  position: relative;
  left: calc(100% - 28px);
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 35px;
  background: #9a9a9a;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
}

.navigation li.hover .navigation-link,
.navigation li.active .navigation-link {
  background: #ffac00;
}

.navigation-text {
  position: absolute;
  right: 45px;
  color: transparent;
  font-weight: bold;
  padding-top: 7px;
  transition: all .3s;
}

.navigation li.hover .navigation-text {
  color: #ffac00;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 1366px) {
  .page {
    padding-left: 30px;
  }

  .navigation {
    right: 30px;
  }

  .text-container {
    width: 350px;
  }
}