@font-face {
  font-family: 'Roboto';
  src: url('roboto.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('roboto_slab.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
}

text.cls-5 {
  font-family: 'Roboto' !important;
}

header {
  min-height: 85px;
}

header.small {
  min-height: 60px;
}

h3,
p {
  margin-bottom: 25px;
}

h2,
h3,
.next-page {
  font-family: 'Roboto Slab';
}

h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: #ebaa17;
  font-size: 24px;
  font-weight: bold;
}

p {
  line-height: 1.2;
}

button {
  display: block;
  background: none;
  border: 0;
  cursor: pointer;
}

.next-page {
  color: #868686;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.next-page svg {
  width: 40px;
  height: 10px;
  margin-right: 10px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100px;
  margin-top: 20px;
}

.social-button {
  width: 30px;
  height: 30px;
  padding: 0;
}

.social-button.instagram svg {
  width: 25px;
  height: 25px;
}

.social-button.facebook svg {
  width: 14px;
  height: 27px;
}

.social-button.twitter svg {
  width: 21px;
  height: 18px;
}

.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-top: 5px;
  padding-left: 10%;
}

.text-container {
  position: relative;
  z-index: 2;
  top: 30px;
  width: 30%;
  max-width: 390px;
}

.map-container {
}

.map-container {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  max-height: 845px;
  background: url('./images/001_kozepkor_3100px.jpg') top right no-repeat;
  background-size: contain;
  box-shadow: 0 0 20px 10px black inset;
}

/* .map-container:nth-of-type(1) {
  background: url('./images/1.svg') top right no-repeat;
}

.map-container:nth-of-type(2) {
  background: url('./images/2.svg') top right no-repeat;
}

.map-container:nth-of-type(3) {
  background: url('./images/3.svg') top right no-repeat;
}

.map-container:nth-of-type(4) {
  background: url('./images/4.svg') top right 0 no-repeat;
} */

.navigation {
  position: fixed;
  top: 120px;
  right: 3.5%;
  z-index: 2;
}

.navigation-link {
  display: block;
  width: 28px;
  height: 28px;
  margin-bottom: 35px;
  background: #9a9a9a;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
}

.navigation-link.active {
  background: #ffac00;
}

@media (max-width: 1366px) {
  .page {
    padding-left: 30px;
  }

  .navigation {
    right: 30px;
  }

  .text-container {
    width: 350px;
  }
}